    <style>
        * {
            box-sizing: border-box;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        /* Style the header */
        header {
            background-color: #0e6bb5;
            padding: 10px;
            text-align: center;
            font-size: 25px;
            color: white;
			border-radius: 5px;
			margin: 5px;
        }

        /* Container for flexboxes */
        section {
            display: -webkit-flex;
            display: flex;
        }

        /* Style the navigation menu */
        nav {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            background: #97d1ff;
            padding: 15px;
			border-radius: 5px;
			margin: 5px;
        }

        /* Style the list inside the menu */
        nav ul {
            list-style-type: none;
            padding: 0;
        }

        /* Style the content */
        article {
            -webkit-flex: 5;
            -ms-flex: 5;
            flex: 5;
            #background-color: #f1f1f1;
            background-color: #ffffff;
			padding: 10px;
        }

        /* Style the footer */
        footer {
            background-color: #81bded;
            padding: 10px;
            text-align: center;
            color: white;
			border-radius: 5px;
			margin: 5px;
        }

        /* Responsive layout - makes the menu and the content (inside the section) sit on top of each other instead of next to each other */
        @media (max-width: 600px) {
            section {
                -webkit-flex-direction: column;
                flex-direction: column;

            }
        }
    </style>